<!DOCTYPE html>
<html>
<head>
    <title>Add Predecessor</title>
</head>
<body>
    <h2>Add Predecessor</h2>
    <form action="/director/add_predecessor" method="POST">
        <label for="movie_id">Movie ID:</label>
        <input type="text" id="movie_id" name="movie_id"><br><br>

        <label for="predecessor_movie_id">Predecessor Movie ID:</label>
        <input type="text" id="predecessor_movie_id" name="predecessor_movie_id"><br><br>

        <input type="submit" value="Login">
    </form>
</body>
</html>
