<!DOCTYPE html>
<html>
<head>
    <title>Movies List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th:not(:last-child), td:not(:last-child) {
            padding-right: 20px;
        }
    </style>
</head>
<body>
    <h1>Movies List</h1>
    <table>
        <tr>
            <th>Movie ID</th>
            <th>Movie Name</th>
            <th>Director's Surname</th>
            <th>Platform ID</th>
            <th>Theatre ID</th>
            <th>Time Slot</th>
            <th>Predecessors</th>
        </tr>
        {% for movie in movies %}
        <tr>
            <td>{{ movie[0] }}</td>
            <td>{{ movie[1] }}</td>
            <td>{{ movie[2] }}</td>
            <td>{{ movie[3] }}</td>
            <td>{{ movie[4] }}</td>
            <td>{{ movie[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
