<!DOCTYPE html>
<html>
<head>
    <title>Directors List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th:not(:last-child), td:not(:last-child) {
            padding-right: 20px;
        }
    </style>
</head>
<body>
    <h1>Directors List</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Nation</th>
            <th>Platform ID</th>
        </tr>
        {% for director in directors %}
        <tr>
            <td>{{ director[0] }}</td>
            <td>{{ director[1] }}</td>
            <td>{{ director[2] }}</td>
            <td>{{ director[3] }}</td>
            <td>{{ director[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
