<!DOCTYPE html>
<html>
<head>
    <title>Update Platform ID</title>
</head>
<body>
    <h2>Update Platform ID of a Director</h2>
    <form action="/manager/update_platform_id" method="POST">
        <label for="director_username">Director Username:</label>
        <input type="text" id="director_username" name="director_username"><br><br>

        <label for="platform_id">Platform ID:</label>
        <input type="text" id="platform_id" name="platform_id"><br><br>

        <input type="submit" value="Update">
    </form>
</body>
</html>
